<h2>Login</h2>
<form action="" id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword" >
    <button>Login!</button>
</form>

<h2>Need an account? <a href="/signup">Sign Up</a></h2>

<script src="./asset/js/login.js"></script>
