<h2>Login</h2>
<form action="" id="login">
    <input class="white" type="text" placeholder="username" id="loginUsername">
    <input class="white" type="password" placeholder="password" id="loginPassword" >
    <button class="blue darken-3 white-text">Login!</button>
</form>

<p>Need an account? <a href="/signup">Sign Up</a></p>

<script src="./asset/js/login.js"></script>
