<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Welcome {{username}}</h1>
<aside>
    <button id="favorites">Favorites</button>

    <input type="text" id="name" placeholder="Search By Name">
    <input type="text" id="local" placeholder="Search By Location">
    {{!-- <input type="text" placeholder="Search By Reviews"> --}}
    <button id="search">search</button>
</aside>
<div id="restaurant"></div>
<main>
    <ol id="restaurantRender">

    </ol>
</main>
{{#each restaurant}}
    <h2>{{title}}</h3>
    <h5>{{location}}</h5>
    <button>Call</button>
    <button>View Menu</button>
    <button>Make a Reservation</button>
    <button>Favorite</button>
    <hr>
{{/each}}
<script src="./asset/js/profile.js"></script>
<script src="../server.js"></script>   
</body>
</html>
