<link rel="stylesheet" href="/asset/css/style.css">
<aside>
    <h2>Welcome, {{username}}</h2>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <form id="search">
                    <input class="white" type="text" id="name" placeholder="Search By Name"><br>
                    <input class="white" type="text" id="local" placeholder="Search By Location or Zip Code"><br>
                    {{!-- <button type="button" id="search" class="btn btn-warning">Search</button> --}}
                    <button class="btn blue darken-3 white-text waves-effect waves-light" type="submit">Search
                        <i class="blue darken-3 white-text material-icons right">send</i>
                    </button>
                    <br>
                    <br>
                    <button type="button" id="favorites" class="blue darken-3 btn btn-success">Favorites</button>
                    <ol id="favoriteRender">
                    <br>
                    </ol>
                </form>
            </div>
            <div id="restaurant" class="blue lighten-4 col-8">List of Restaurants
                <ol id="restaurantRender">

                </ol>
                <div id="myModal" class="modal">
            <div class="modal-content">
                <p></p>
                <span class="close">&times;</span>
            </div>

            </div>
            </div>

        </div>
    </div>
</aside>
<div id="restaurant"></div>
<main>
</main>
{{!-- {{#each restaurant}}
<h2>{{title}}</h3>
    <h5>{{location}}</h5>
    <button>Call</button>
    <button>View Menu</button>
    <button>Make a Reservation</button>
    <button>Favorite</button>
    <hr>
    {{/each}} --}}
    <script src="/asset/js/profile.js"></script>