<h2>Signup</h2>
<form action="" id="signup">
    <input class="white" type="text" placeholder="username" id="signupUsername">
    <input class="white" type="password" placeholder="password" id="signupPassword" >
    <input class="white" type="text" placeholder="email" id="signupEmail" >
    <button class="blue darken-3 white-text">Signup</button>
</form>

<script src="./asset/js/signup.js"></script>