* {
    box-sizing: border-box;
    background-color: lightblue;
  }

#rest-find {
    margin-left: 10px;
    
}

#restaurantRender li {
  height: fit-content;
  border-bottom: 4px solid darkblue;
}

#restaurantRender img {
  height:20vh; 
  border: solid black 3px;
  max-width: 40vh;
}

#restaurantRender button {
  width: 70%;
  margin-top: 15px;
  margin-bottom: 10px;
}

#textdiv {
  display: block;
}

.indigo {
  margin-top: 5px;
}

.white {
  margin-left: -10px
}

.modal {
  width: fit-content;
  height: fit-content;
  max-height: fit-content;
  max-width: fit-content;
  border: none;
}